/**** www.CSScheckbox.com *********/
input[type=checkbox].css-checkbox {
	  position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

.respckbox{background-image:url(../images/checkbox.png);background-color:#B3AFA1;border-radius:4px}
.reqckbox{background-image:url(../images/req.png);}
.queckbox{background-image:url(../images/que.png);}

input[type=checkbox].css-checkbox + label.css-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration:underline;
  font-size:0.8em;
  padding-left:20px;
  height:18px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
  cursor:pointer;
  
  width:0;
}
input[type=checkbox].css-checkbox:checked + label.css-label{
    background-position: 0 -20px; /* shifting sprite */
}



