body {
  background-image: url(../images/background.png);
  background-attachment: fixed;
  font-family: sans-serif;
  text-align:center;
}
.outerdiv {
  width: 700px;
  margin: 0 auto;

  text-align:left;
}
.adminouterdiv{
  width: 90%;
  margin: 0 auto;

  text-align:left;  
}
div {
  border-radius: 4px;
}
div.formclass {
  background-color: rgba(0,0,0, 0.1); /* #a4becc; */
  color: white;
  padding: 3px;
  margin-bottom: 1px;
  border: 2px solid #3b5969;
  text-align:left;
  font-weight:bold; 
} 
 
div.sectionclass {
  background-color: #f0f4f7;
  color: black;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #3b5969;
  text-align:left;
  font-weight:bold;
}
div.sectionclass  h2{
  line-height: 0.3em;
}
div.nodeclass {
  padding: 3px 0;
  margin-bottom: 3px;
  border: 1px solid #3b5969;
  text-align:left;
  font-weight:bold;
}
div.subformstyle{
  background-color: #D2D3CB;
}
div.subformstyle label{
 	width:53%;
}
div.subformstyle input[type="text"]{
 	width:45%;
}

div.messageclass {
  font-style:italic;
  font-size:0.8em;
  text-align:center;

}
div.editclass {
  color: green;
  font-size:0.8em;
  text-align:center;
}
.delclass{
  top: 5px;
  right: 5px;
  position: absolute;
}
.editclass {
  color: green;
  font-size:0.8em;
  text-decoration: underline;
  cursor:pointer;
  padding: 0 2px;
}
.pubclass {
  color: green;
  font-size:0.6em;
  border:1px solid grey;
  width:90px;
  cursor:pointer;
}
div.pubclass:hover{
  background-color:#DDD;

}
.queueheaders {
  color: green;
  font-size:0.6em;
  width:120px;
}
div.requestclass{
  background-color:#dae4eb;
  border-radius: 0;
  padding: 3px 0 6px 0;
}
div.responseclass{
  background-color:#E8B4C0; 
  border-radius: 0;
  padding: 3px 0 6px 0;
}
div.responsecompleteclass{
  background-color:#82D89E;
  border-radius: 0;
  padding: 3px 0 6px 0;
}
div.editselectoption{
  background-color:#ccc;

}
label {
	font-size: 16px;
	width:43%;
	margin-right:5px;
	display:inline-block;
	padding-top:3px;
	text-align:right;
}
button.submit {
  display: block;
  margin: 0 auto; 
}
tr.reqsrow td{
  border:1px solid grey;

}
tr.reqsrow:hover{
  background-color:#DDD;
  cursor:pointer;
}
table.addelementtable{
  
  margin-left: auto;
  margin-right: auto;
  
}
.addelement img, .addelement input {
    vertical-align:bottom;
    padding-left:3px;
}
.inputclass{
  width:55%; 
}
.linkmouseover:hover {
	opacity:0.7;
  cursor: pointer;
}
/* buttons at top of form editing screens */
.btn-class{
 display: inline-block;
 border:1px solid #7D99CA;
 color: #fff;
 border-radius: 10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 font-family: Verdana;
 width: auto;
 height: auto;
 font-size: 16px;
 padding: 10px 21px;
 background-image: linear-gradient(to top, #A8BBDE, #7089B3);
 background-color: #A5B8DA;
 margin:4px;
}
.active-btn-class{
 display: inline-block;
 border:1px solid #7CC9AD;
 color: #fff;
 border-radius: 12px;
 -webkit-border-radius: 12px;
 -moz-border-radius: 12px;
 font-family: Verdana;
 width: auto;
 height: auto;
 font-size: 16px;
 background-image: linear-gradient(to top, #A8DDCB, #70B29A);
 background-color: #A4D8C5;
}
/* ReactCSSTransitionGroup animation */
.AddElements-enter {
  opacity: 0.01;
  transform: scaleY(0);
  height: 0;
}
.AddElements-enter.AddElements-enter-active {
  opacity: 0.7;
  transform: scaleY(1); 
  height: 10px;
  transition: all 500ms ease-in;
}
.AddElements-leave {
  opacity: 0.7;
  transform: scaleY(1);
  height: 10px;  
}
.AddElements-leave.AddElements-leave-active {
  opacity: 0.01;
  transform: scaleY(0);
  height: 0;  
  transition: all 500ms ease-in;
}

.SubForm-enter {
  opacity: 0.01;
  transform: scaleY(0);
  height: 0;
}
.SubForm-enter.SubForm-enter-active {
  opacity: 0.7;
  transform: scaleY(1); 
  height: 100%;  
  transition: all 300ms ease-in;
}
.SubForm-leave {
  opacity: 0.7;
  transform: scaleY(1);
  height: 100%;  
}
.SubForm-leave.SubForm-leave-active {
  opacity: 0.01;
  transform: scaleY(0);
  height: 0;  
  transition: all 300ms ease-in;
}
/* END ReactCSSTransitionGroup animation */