body {

  font-family: sans-serif;
  text-align:center;
}
.outerdiv {
  width: 500px;
  margin: 0 auto;

  text-align:left;
}
div.SECTION {

  padding: 3px;
  border: 1px solid #CCC;
  text-align:left;
  font-weight:bold;
}
