body {

  font-family: sans-serif;
  text-align:center;
}
.outerdiv {
  width: 700px;
  margin: 0 auto;

  text-align:left;
}
div {
  border-radius: 5px;

}
div.formclass {
  background-color: #a4becc;
  color: white;
  padding: 3px;
  border: 1px solid #3b5969;
  text-align:left;
  font-weight:bold;
}
div.sectionclass {
  background-color: #f0f4f7;
  color: black;
  padding: 3px;
  margin-bottom: 3px;
  border: 1px solid #3b5969;
  text-align:left;
  font-weight:bold;
}
div.sectionclass  h2{
  line-height: 0.3em;
}
div.nodeclass {
  padding: 3px;
  margin-bottom: 3px;
  border: 1px solid #3b5969;
  text-align:left;
  font-weight:bold;
}
div.textclass {
  font-style:italic;
  font-size:0.8em;
  text-align:center;
}
div.editclass {
  color: green;
  font-size:0.8em;
  text-align:center;
}
.editclass {
  color: green;
  font-size:0.8em;
  text-decoration: underline;
  cursor:pointer;
}
div.responseclass{
  background-color:#fa391e;
  border-radius: 0;
  padding: 3px 0 6px 0;
}
label {
	font-size: 16px;
	width:280px;
	margin-right:5px;
	display:inline-block;
	padding-top:3px;
	text-align:right;
}
button.submit {
  display: block;
  margin: 0 auto; 
}
td{
  border:1px solid grey;

}
tr.reqsrow:hover{
  background-color:#DDD;
  cursor:pointer;
}
